@import "tailwindcss";

@theme {
  --color-razer-green: #44d62c;
}

:root {
  background-color: #000000;
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: black;
  color: white;
  min-height: 100vh;
  /* Overrides default Vite centering styles */
  display: block !important;
}